/* Para móviles */
@media (max-width:400px ){

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body > nav > ul{
        list-style: none;
        margin: 0;
        padding: 0;

        display:none; /* Se oculta el elemento */
    }

    body > nav > ul > li > a{
        display: block;
        text-decoration: none;

    }


    #menuPlegable{
        display: none;
    }

    #menuPlegable{
        display: none;
    }

    #menuPlegable:checked + ul {
        display: block; /* Muestra el elemento */
    }
}

/* Para pantallas más grandes */
@media (min-width:401px ){
    body > nav > ul {
        display: block;
    }
    
    #menuPlegable{
        display: none;
    }
    
    .labelMenu {
        display: none;
    }
}


