section{
    text-align: center;
}

h3{
    margin-top: 50px;
    margin-bottom: -10px;
}

.area{
    margin-top: 10px;
}

.botones{
    margin-top: 10px;
}



/* Esto lo deberiamos de poner en un css comun */

/* Mirara que el footer este pegado abajo */
