/* FUENTES WEB */
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

img{
    max-width: 100%;
    min-width: 100%;
}

body{
    min-width:380px;
}

body > header{
    background-color:#50A5FFFF;
    padding: .5em;
    color: #fff;
    font-family: 'Shantell Sans', cursive;

    text-align: center;
}

body > footer{
    background-color: #F3FFBCFF;
}

#seccion01 > div > article {
    background-color: #ccc;
    padding: .5em;
    /* margin: .5em 0; */

    display: flex;
    flex-direction: column;

    align-items: center;
}

#seccion01 > div > article > p {
    flex-grow: 1;
}

#seccion01 > div > article > h4 {
    text-overflow: ellipsis;

    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

#seccion01 > div > article > img {
    width: 100%;
    height: 10em;

    object-fit: cover;
    object-position: center;
}

body > nav {
    background-color: #99FFA2FF;

    position: sticky;
    top: 0;
}

body > nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;

    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    /*display:none; Se oculta el elemento */
}

body > nav > ul > li > a{
    display: block;
    padding: .5em;
}

body > nav > ul > li > a:hover{
    background-color: #234E87FF;
    color: #fff;
}

body > nav > label {
    cursor: pointer;
}

#chkMenu{
    display: none;
}

#chkMenu:checked + ul {
    max-height: 12em;
   /* display: block;  Muestra el elemento */
}

/* Como poner articulos en cada tamaño sin tener que cambiar cada media query*/
#seccion01 > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr)); /* nota Juanjo: autofill deja huecos y autofit rellena el hueco*/
    grid-gap: .5em;
}

#seccion01 > div > article > img {
    transition: transform 1s;
}

#seccion01 > div > article:hover > img {
    /* transform: scale(1.2);  */
    transform-origin: top left;
    transform: rotate(45deg);
}

/* MEDIA QUERIES */
@media (min-width: 400px){
    body > nav > ul {
        display: block;
    }

    body > nav > ul > li {
        display: inline-block;
    }

    body > nav > ul > li > a {
        padding: .4em;
    }

    body > nav > ul > li > a > span {
        display: none;
    }

    body > nav > label[for] {
        display: none;
    }
}

@media (min-width: 540px){
    body > nav > ul > li > a > span {
        display: inline-block;
    }

    body > header {
        display: grid;
        grid-template-areas:"img h1"
                            "h2 h2";
        grid-template-columns: 30% auto;
        grid-gap: .4em;
        justify-content: center;
        justify-items: center;

    }

    body > header > img {
        grid-area: img;
        justify-self: end;
    }

    body > header > h1 {
        grid-area: h1;
    }

    body > header > h2 {
        grid-area: h2;
    }

    /*#seccion01 > div {
        display: grid;
        grid-template-columns:50% 50%;
        grid-gap: .5em;
    }*/

    /*#seccion01 > div {
        display: flex;
        flex-wrap: wrap;

        justify-content: space-evenly;
    }

    #seccion01 > div > article {
        width: 45%;
        margin: .5em;

        flex-grow: 1;
    }*/
}

@media (min-width: 700px){
    /*#seccion01 > div {
        grid-template-columns:33% 33% 33%;
    }*/

   /* #seccion01 > div > article {
        width: 30%;
    }*/
}
